# Pandas

Pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.

You can find it here: http://pandas.pydata.org/

And the documentation can be found here: http://pandas.pydata.org/pandas-docs/stable/

In this notebook we review some of its functionality.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/titanic-train.csv")

## Quick exploration

Commands to quickly inspect the dataset

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.describe()

## Indexing

Retrieving elements by row, by column or both. Try to understand each of the following statements

In [ ]:
df['Ticket']

In [ ]:
df[['Fare', 'Ticket']]

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3, 4]

In [ ]:
df.loc[0:4,'Ticket']

In [ ]:
df.loc[0:4, ['Fare', 'Ticket']]

## Selections

Retrieving part of the dataframe based on a condition. Try to understand each of the following statements.

In [ ]:
df[df.Age > 70]

In [ ]:
df[(df['Age'] == 11) & (df['SibSp'] == 5)]

In [ ]:
df[(df.Age == 11) | (df.SibSp == 5)]

In [ ]:
df.query('(Age == 11) & (SibSp == 5)')

In [ ]:
df.sort_values('Age', ascending = False).head()

## Distinct elements

In [ ]:
df['Embarked'].unique()

## Group by

Pandas supports many SQL-like operations like group by, order by and join. In pandas they are called:
- groupby
- sort_values
- merge

Try to make sense of each of the following expressions:

In [ ]:
# Find average age of passengers that survived vs. died
df.groupby('Survived')['Age'].mean()

In [ ]:
df.sort_values('Age', ascending = False).head()

In [ ]:
df1 = df[['PassengerId', 'Survived']]
df2 = df[['PassengerId', 'Age']]

pd.merge(df1, df2, on='PassengerId').head()

## Pivot Tables

Pandas also supports Excel-like functionality like pivot tables.

In [ ]:
df.pivot_table(index='Pclass', columns='Survived', values='PassengerId', aggfunc='count')

In [ ]:
df['Pclass'].value_counts()

## Exercises:

- select passengers that survived
- select passengers that embarked in port S
- select male passengers
- select passengers who paid less than 40.000 and were in third class
- locate the name of passegner Id 674
- calculate the average age of passengers using the function mean()
- count the number of survived and the number of dead passengers
- count the number of males and females
- count the number of survived and dead per each gender
- calculate average price paid by survived and dead people in each class

In [ ]:
df.query('Survived == 1').head()

In [ ]:
df.query('Embarked == "S"').head()

In [ ]:
df[df['Sex'] == 'male'].head()

In [ ]:
df[(df.Fare < 40000) & (df.Pclass == 3)].head()

In [ ]:
df.query('PassengerId == 674')

In [ ]:
df['Age'].mean()

In [ ]:
df['Survived'].value_counts()

In [ ]:
df['Sex'].value_counts()

In [ ]:
df.pivot_table(index='Survived', columns='Sex', values='PassengerId', aggfunc='count')

In [ ]:
df.pivot_table(index='Survived', columns='Pclass', values='Fare', aggfunc='mean')